.column.commands {
    overflow: scroll;
}

.panel-block.columns {
    margin: 0;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.octicon {
    display: block;
    height: 18px;
    width: 18px;
}

.panel-block.sudo {
    background-color: hsl(0, 0%, 98%);
    /* border-color: hsl(0, 0%, 70%); */
}
