{% load static %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'options/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'options/bulma-switch.min.css' %}">
    <link rel="stylesheet" href="{% static 'options/bulma-divider.min.css' %}">
    <link rel="stylesheet" href="{% static 'options/bulma-pageloader.min.css' %}">
    <script src="{% static 'options/jquery-3.3.1.min.js' %}" charset="utf-8"></script>
    <title>Advanced Settings for macOS</title>
</head>
<body>
    <section class="section">
        <div class="container is-widescreen">
            <div class="columns">
                <div class="column is-one-third nav-container">
                    <aside class="menu">
                        <p class="menu-label">
                            Sections
                        </p>
                        <ul class="menu-list">
                            {% for name, data in command_config.items %}
                                <li><a href="#{{ name|slugify }}">{{ name }}</a></li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>
                <div class="column" style="overflow: scroll;">
                    <section class="section">
                        <div class="columns">
                            <div class="column">
                                <span>
                                    <strong>Recommended:</strong>
                                    Read and load values from the system where possible to reflect the current state (this may require <strong>super user</strong> rights and take a while).
                                </span>
                            </div>
                            <div class="column is-narrow">
                                <button class="button is-outlined is-link" type="button is-small">Go</button>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                Below, you can can store or delete your super user password.
                                It is required for some of the settings and stored in your browser.
                                If you don't want this you'll have to enter the password each time your change a settings that requires super user permissions.
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-one-third">
                                <button class="button is-primary store-password" type="button">Store password</button>
                            </div>
                            <div class="column">
                                <button class="button is-danger delete-password" type="button">Delete password</button>
                            </div>
                        </div>
                    </section>
                    <div class="is-divider" data-content="SETTINGS"></div>
                    {% for name, data in command_config.items %}
                        <section class="section">
                            {# <h1><a name="{{ data.id }}">{{ name }}</h1> #}
                                <div class="panel">
                                    <p class="panel-heading">
                                        <a name="{{ name|slugify }}">{{ name }}</a>
                                    </p>
                                    {% for command_id, command_data in data.items %}
                                        {% if command_id != 'id' %}
                                            <div class="panel-block columns" style="margin: 0; padding-left: 0.2rem; padding-right: 0.2rem;">
                                                <div class="column">
                                                    {{ command_data.label|safe }}
                                                </div>
                                                <div class="column {% if command_data.widgets_width %}{{ command_data.widgets_width }}{% else %}is-one-quarter{% endif %}" style="text-align: right;">
                                                    {{ command_data.widgets|safe }}
                                                    <span class="error-message has-text-weight-light has-text-danger is-size-7"></span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                        </section>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'options/index.js' %}" type="module"></script>
</body>
</html>
